p {
    color: #282828;
    line-height: 1.8;
    letter-spacing: 1.5px;
}

.content-main {
    padding: 80px;
    box-sizing: border-box;
}

.content-title {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #A23D31;
}

.content-small-title {
    font-weight: 700;
    font-size: 23px;
    margin: 20px 0;
    color: #A23D31;
}

.content-tag {
    font-size: 18px;
    margin: 15px 0 5px 0;
}

.content-box > p {
    padding-left: 20px;
    box-sizing: border-box;
}

p.content-text {
    padding: 0;
}

.content-prize__box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.content-prize__img:nth-child(2) {
    margin: 0 10px;
}

.content-main .text-inline {
    display: inline-block;
    padding: 0;
}

.content-list {
    margin-left: 20px;
    list-style-type: decimal;
}

.content-list_reduce {
    margin-left: 40px;
}


.content-prize__top-img {
    max-width: 900px;
    width: 80%;
    align-self: flex-start;
}

.content-prize__img {
    max-width: 293px;
    width: 25.8%;
    height: auto;
    align-self: flex-start;
}

.content-link {
    word-wrap: break-word;
    color: #A23D31;
}

.main-prize {
    width: 90%;
    margin: 30px auto 0 auto;
    background-color: #F3A48D;
}

@media screen and (max-width: 992px) {
    .content-main__prize {
        padding: 20px;
    }

    .content-main {
        padding: 40px 20px;
    }
    
}