.block-carousel-box {
    width: 100%;
    padding: 20px 0;
}

.block-carousel {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.block-carousel__link {
    outline: none;
    margin: 0 10px;
    cursor: pointer;
}

.block-carousel__img {
    width: 100%;
    height: auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    outline: none;
    width: 50px;
    height: 50px;
    border: none;
    opacity: .7;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}

.carousel-button > svg > path {
    fill: #F3A48D;
}

.prev-button > svg {
    transform: rotate(180deg);
}

.carousel-button:hover {
    opacity: 1;
}


.prev-button {
    left: 10px;
    z-index: 2;
}

.next-button {
    right: 10px;
}

.dots-item {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dots-item > li {
    width: 15px;
    height: 15px;
    margin: 0 10px;
    display: flex;
}

.dots-item button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 0;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.dots-item > .slick-active {
    background-color: #fff;
    border-radius: 50%;
}

.block-list__header {
    width: 100%;
    background-color: #F3A48D;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-list__title {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    width: 60%;
    color: #A23D31;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-weight: 500;
}

.block-list__list {
    width: 100%;
    padding: 30px 55px 30px 55px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block-list__item {
    width: 210px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px #00000030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin: 25px
}

.block-list__img-box {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 120px;
}

.block-list__img {
    height: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-carousel__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.block-carousel__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.block-list__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.block-list__item-title {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 17px;
    color: #A23D31;
    font-weight: 700;
}

.block-list__button {
    width: 70%;
    border: none;
    cursor: pointer;
    background-color: #F3A48D;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    color: #ffffff;
    margin-top: 20px;
    outline: none;
    transition: background-color .3s;
}

.block-list__button:hover {
    background-color: #A23D31;
}

.block-list__button:active {
    outline: none;
}

.login-alert-popup, .login-vote-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #00000050;
    display: none;
    opacity: 0;
    transition: all .5s;
}

.login-alert-popup__box, .login-vote-popup__box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    height: 250px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    box-sizing: border-box;
    transition: all .5s;
}

.login-vote-popup__box {
    max-width: 300px;
}

.login-alert-popup__text, .login-vote-popup__text {
    font-size: 20px;
}

.login-alert-popup__button {
    width: 200px;
    height: 30px;
    border: 0;
    background-color:#1877f2; 
    /* #4267b2; */
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login-alert-popup__button > svg {
    width: 10px;
}

.login-alert-popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.login-alert-popup__close > svg{
    stroke: #4b4b4b;
    width: 16px;
    height: 16px;
}

.popup-show {
    opacity: 1;
}

.popup-show > .login-alert-popup__box, .popup-show > .login-vote-popup__box {
    top: 50%;
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
    .block-list__item {
        width: 180px;
    } 
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .block-list__item {
        width: 170px;
        margin: 15px;
    }

    .carousel-button {
        width: 30px;
        height: 30px;
    }

    .dots-item { 
        bottom: 10px;
    }
    
}

@media screen and (min-width: 384px) and (max-width: 768px) {
    .block-list__item {
        width: 160px;
        margin: 10px 15px;
    }

    .block-list__list {
        padding: 30px 15px 30px 15px;
    } 

    .block-carousel {
        width: 95%;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 15px;
    }

    .carousel-button {
        width: 30px;
        height: 30px;
    }

    .dots-item { 
        bottom: 10px;
    }
    
    .dots-item > li { 
        width: 10px;
        height: 10px;
    }
    
}

@media screen and (max-width: 384px) {
    .block-list__item {
        width: 140px;
        margin: 10px 5px;
    }

    .block-list__list {
        padding: 30px 15px 30px 15px;
    } 

    .block-carousel {
        width: 95%;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 15px;
    }
}

/* clock loading */
.login-vote-popup__loading {
	border: 4px #A23D31 solid;
	border-radius: 50%;
    position: relative;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.login-vote-popup__loading:before {
	content:'';
	border-left: 4px #A23D31 solid;
	position: absolute;
    top: 2px;
    left: 44.5%;
    width: 1px;
    box-sizing: border-box;
    border-radius: 8px;
	height: calc( 50% - 2px );
	transform: rotate(0deg) translateX(-50%);
    transform-origin: center 100%;
	animation: clock 3s infinite linear;
}


@keyframes clock {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

/*success */
.login-vote-popup-success {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    stroke-width: 3;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    position:relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.login-vote-popup-success__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 4;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke .5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.login-vote-popup-success__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .4s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

/*error*/
.login-vote-popup-error {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    stroke-width: 3;
    stroke: #d83333;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #d83333;
    position:relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.login-vote-popup-error__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 4;
    stroke-miterlimit: 10;
    stroke: #d83333;
    fill: #fff;
    animation: error-stroke .5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.login-vote-popup-error__line {
}

@keyframes error-stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #d83333;
    }
}

