html, body, div, span, iframe,h1, h2, h3,
h4, h5, h6, p, a, i, ul, li,article, aside,
footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, footer, header,
menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    position: relative;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p, h1, h2, h3, h4, a, li {
    font-family: 'Noto Sans TC', sans-serif;
}

.main-header {
    width: 100%;
    background-color: #A23D31;
    height: 60px;
    padding-right: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-header-link {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    position: relative;
    transition: all .3s;
}

.main-header-link:nth-child(1):hover {
    background-color: #3b5998;
    border-color: #3b5998;
}

.main-header-link:nth-child(2):hover {
    background-color: #ff0000;
    border-color: #ff0000;
}

.main-header-link > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}

.main-header-link > svg > path {
    fill: #ffffff;
}


.main-header-link:nth-child(1) {
    margin-right: 15px;
}

.main-banner {
    width: 100%;
}

.main-banner-img {
    width: 100%;
    display: block;
}

.main-nav {
    width: 100%;
    height: 60px;
    background-color: #F3A48D;
    position: sticky;
    top: 0;
    z-index: 99;
}

.main-nav__list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav__item {
    height: 45px;
    margin: 0 auto;
    min-width: 180px;
    width: 250px;
    padding: 0 10px;
}

.main-nav__item:hover .main-nav__icon {
    background-position-y: -30px;
}

.main-nav__item:hover .main-nav__icon-title {
    background-position-y: -20px;
}

.main-nav__link {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4b4b4b;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    background-color: #fff;
    border-radius: 30px;
}

.main-nav__link:hover {
    background-color: #A23D31;
}

.main-nav__icon {
    width: 30px;
    height: 30px;
    display: block;
    background-image: url(../image/icon.png);
    margin-right: 15px;
}

.main-nav__icon-title {
    width: 90px;
    height: 20px;
    display: block;
    background-image: url(../image/icon.png);
}

.main-nav__icon_vote {
    background-position: 0 0;
}

.main-nav__icon_prize {
    background-position: -30px 0;
}

.main-nav__icon_activity {
    background-position: -60px 0;
}

.main-nav__icon_news {
    background-position: -90px 0;
}

.main-nav__icon-title_vote {
    background-position: -120px -1px;
}

.main-nav__icon-title_prize {
    background-position: -211px -1px;
    width: 115px;
}

.main-nav__icon-title_activity {
    background-position: -326px 0;
}

.main-nav__icon-title_news {
    background-position: -415px 0;
}

.main-footer {
    width: 100%;
    height: 120px;
    background-color: #A23D31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer__text {
    color: #fff;
}

.scroll-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c8c8c8;
    opacity: .8;
    cursor: pointer;
}

.scroll-top:hover {
    opacity: 1;
}

.scroll-top > svg {
    width: 100%;
    height: 100%;
    stroke: #fff;
    stroke-width: 4px;
    fill: transparent;
    stroke-linejoin:round;
}

.main-nav .os-content {
    display: flex;
    align-items: center;
    height: 100% !important;
}

@media screen and (max-width: 768px) {
    .main-header {
        height: 40px;
        padding-right: 20px;
    }

    .main-header-link {
        width: 25px;
        height: 25px;
    }

    .scroll-top {
        right: 20px;
        bottom: 30px;
    }

    .main-nav {
        height: 50px;
    }

    .main-nav__item {
        transform: scale(0.7);
    }
}